/* Universal Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cutive Mono";
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* Navbar */
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: gray;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  margin: 0 40px;
  letter-spacing: -0.08em;
  width: 176px;
  transition: all 0.3s;
  justify-content: center;
  display: flex;
}

nav a:hover {
  text-shadow: 0 0 4px gray;
  color: snow;
  letter-spacing: 0.02em;
}

/* for mobile icons -- ignore */
#staff,
#contact,
#about,
#schedule {
  display: none;
}

/* Head Banner */
header figure {
  background-position: center;
  background-image: url("/images/main-banner-2.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

header #headline {
  position: absolute;
  top: 13%;
  width: 100%;
}

#headline h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  letter-spacing: 12px;
  font-size: 90px;
  color: snow;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  text-shadow: 0 0 4px gray;
}

.gradient {
  background: linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

/* Header buttons */

header #buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

#buttons button {
  margin: 0 30px;
  width: 200px;
  font-size: 24px;
  border-radius: 10px;
}

#buttons button:hover {
  cursor: pointer;
  border: 2px solid transparent;
}

#buttons #join-us {
  background-color: snow;
  color: black;
}

#buttons #join-us:hover {
  background: linear-gradient(snow, snow) padding-box,
    linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff) border-box;
}

#buttons #learn-more {
  background: black;
  color: snow;
}

#buttons #learn-more:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff) border-box;
}

/* Stats section */
main #stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #ced4db;
  box-shadow: inset 0 8px 24px gray;
}

#stats h1 {
  background-color: #e8ecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
  padding: 0px 10px;
  text-align: center;
  color: #3a414a;
  border-radius: 14px;
  font-family: "Roboto Slab";
}

#left-card {
  box-shadow: inset 0 2px 2px #e770ff, 0 4px 8px rgba(0, 0, 0, 0.3);
}

#middle-card {
  box-shadow: inset 0 2px 2px #ffbf60, 0 4px 8px rgba(0, 0, 0, 0.3);
}

#right-card {
  box-shadow: inset 0 2px 2px #5cbeff, 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Carousel section */

.carousel {
  height: 600px;
  background-color: darkgray;
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background-image-two.jpg');
  background-position: center;
  background-size: cover;
}

.carousel-inner {
  width: 55%;
  height: 85%;
  position: relative;
  z-index: 2;
  display: flex;
  border-radius: 10px;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 1;
  border-radius: 10px;
}

.carousel-item.active {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.carousel-item.next {
  transform: translateX(100%);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

#left {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 3;
  left: 17%;
}

#left:hover {
  cursor: pointer;
}

#left i {
  font-size: 24px;
}

#right {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 3;
  right: 17%;
}

#right:hover {
  cursor: pointer;
}

#right i {
  font-size: 24px;
}

/* staff section */

#staff-container {
  height: 85vh;
  width: 100%;
}

hr {
  width: 60vw;
  margin: 0 auto;
}

.tiled-bg {
  background-image: url('/images/example.png');
  transform: rotate(30deg);
}

.staff-image-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-image-container figure {
  width: 18vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 60px;
}

#pres {
  background-image: url("/images/staff-image-one.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: -4px 8px 8px gray;
}

.staff-image-container a {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  letter-spacing: 0.5px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.staff-image-container a:hover {
  text-shadow: 0 0 4px gray;
  letter-spacing: 0.04em; 
  transition: all 0.1s ease;
}

.staff-image-container h2 {
  width: 100%;
  position: absolute;
  top: -45px;
  text-align: center;
  font-family: "Playwrite US Modern";
  letter-spacing: 1px;
  font-weight: 400;
}

#vice-pres,
#sponsor {
  transform: scale(0.9);
}

#vice-pres {
  background-image: url("/images/staff-image-two.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 8px gray;
}

#sponsor {
  background-image: url("/images/staff-image-three.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 8px gray;
}

.officer-section {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* For mobile use */
.officer-mobile {
  display: none;
}

#staff-officer-title {
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
}

#staff-officer-names {
  text-align: center;
  margin-bottom: 40px;
}


/* Fall Schedule Section */
#fall-schedule {
  height: 60vh;
  width: 100%;
  display: flex;
  background-color: lightgray;
}

.fall-schedule-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 60px;
  width: 70%;
}

.fall-schedule-left h1 {
  font-size: 48px;
  width: 100%;
}

.fall-schedule-left p {
  font-size: 24px;
  width: 100%;
}

.fall-schedule-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

#fall-agenda {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.fall-schedule-right-inner {
  width: 70%;
}

#fs-scroll-wheel {
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;
  width: 70%;
  height: 300px;
}

#fs-scroll-wheel button {
  height: 100px;
  width: 100%;
  font-size: 24px;
  display: block;
  flex-shrink: 0;
}


/* Location Section */
#location {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.map-container {
  height: 100%;
  width: 50%;
  padding: 20px;
}

#location h1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}


/* Feedback Section */
#feedback-section {
  height: 40vh;
  display: flex;
  background-color: #8c919a;
}

.feedback-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.feedback-left h1, .feedback-left p {
  margin-left: 10%;
}

.feedback-left h1 {
  font-size: 40px;
}

.feedback-left p {
  font-size: 18px;
  width: 50%;
}

.feedback-right {
  width: 50%;
}

.feedback-right form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#feedback {
  height: 80%;
  width: 50%;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.feedback-right form input[type="submit"] {
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}



/* Footer Section */
footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  flex-wrap: wrap;
}

.footer-container {
  width: 100%;
  height: 90%;
  display: flex;
}

.footer-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}

.footer-section div, .footer-section h3 {
  width: 80%;
  text-align: center;
} 

#footer-ending {
  text-align: center;
}

#footer-card-two a {
  text-decoration: none;
}

#footer-card-two a:hover {
  text-shadow: 0 0 4px gray;
  letter-spacing: 0.02em; 
  transition: all 0.1s ease;
}

#footer-card-three p, #footer-card-three form {
  width: 80%;
}

#footer-card-three form {
  display: flex;
  justify-content: space-between;
}

#footer-card-three p {
  text-align: center;
}

#footer-card-three input {
  width: 55%;
  height: 30px;
  padding: 10px;
}

#footer-card-three button {
  width: 40%;
  height: 30px;
  overflow: hidden;
}

.contact-socials {
  display: flex;
  height: 20%;
  justify-content: space-around;
  align-items: center;
}

.contact-socials a {
  font-size: 26px;
  color: black;
}

.contact-socials a:hover {
  text-shadow: 0 0 4px gray;
  letter-spacing: 0.02em; 
  transition: all 0.1s ease;
  transform: scale(1.05);
}

/* --------------------- Responsive Design --------------------- */

/* Laptop design  */
@media screen and (max-width: 1600px) {
  /* #stats h1 {
    transform: scale(0.8);
  } */
}


/* Tablet design  */
@media screen and (max-width: 768px) {
  /* Nav bar */
  nav {
    transition: all 0.3s ease;
  }

  nav a {
    margin: 0;
  }

  #headline h1 {
    transition: all 0.4s ease;
    font-size: 64px;
  }

  /* Stats section */
  #stats h1 {
    width: 30%;
  }  


  /* staff section */
  #staff-container {
    height: 160vh;
  }
  
  .staff-image-container {
    flex-direction: column;
    height: 85%;
  }

  .staff-image-container figure {
    width: 60vw;
    height: 40vh;
    margin: 40px auto;
  }

  .staff-image-container h2 {
    font-size: 20px;
  }

  .officer-section {
    height: 15%;
    padding: 20px;
  }

  /* Fall-Schedule section */
  #fall-schedule {
    flex-direction: column;
    height: 80vh;
  }

  .fall-schedule-left {
    height: 35%;
    width: 100%;
    padding-left: 20px;
  }

  .fall-schedule-left h1, .fall-schedule-left p {
    text-align: center;
    padding-right: 45px;
  } 

  .fall-schedule-right {
    height: 65%;
  }

  #fall-agenda {
    width: 80%;
  }

  #fs-scroll-wheel {
    width: 80%;
  }  

  /* Location */
  #location {
    flex-direction: column;
    height: 70vh;
  }

  .map-container {
    width: 100%;
    height: 70%;
    padding: 20px;
  }

  #location h1 {
    height: 30%;
    width: 100%;
  }

  /* Feedback */
  .feedback-left {
    border: 1px solid red;
  }

  .feedback-right {
    border: 3px solid black;
  }
  

  /* Footer */
  #footer {
    height: 90vh;
  }

  .footer-container {
    flex-direction: column;
    height: 95%;
  }

  .footer-section {
    height: 25%;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .footer-section h3 {
    font-size: 26px;
  }

  #footer-card-one div {
    font-size: 20px;
  } 
  
  #footer-card-four a {
    font-size: 34px;
  }
  
}


/* Mobile design */
@media screen and (max-width: 480px) {
  nav {
    top: 3%;
  }

  nav .non-mobile-nav {
    display: none;
  }

  #about,
  #schedule,
  #staff,
  #contact {
    display: block;
    font-size: 6vw;
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* staff section */
  .staff-image-container {
    flex-direction: column;
    height: auto;
    gap: 70px;
    position: relative;
  }

  .staff-image-container figure {
    width: 80vw;
    height: 30vh;
    margin: 10px 0;
  }

  .staff-image-container h3,
  .staff-image-container h2 {
    font-size: 14px;
  }

  #staff-officer-title {
    font-size: 20px;
  }

  #staff-officer-names {
    font-size: 12px;
  }

  .staff-image-container h3 {
    font-size: 20px;
  }
  
  hr {
    display: none;
  }

  .officer-section {
    height: auto;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }

  #staff-officer-title {
    font-size: 38px;
  }

  #staff-officer-names {
    display: none;
  }

  .officer-mobile {
    display: block;
    font-size: 20px;
  }
}
